$SCREEN_TABLET_SIZE: 1050px;
$SCREEN_PHONE_SIZE: 650px;
$SCREEN_SMALL_SIZE: 480px;

/*@mixin dark-mode {
    @media (prefers-color-scheme: dark) {
        @content;
    }
}*/

@mixin tablet {
  @media screen and (min-width: $SCREEN_PHONE_SIZE) and (max-width: $SCREEN_TABLET_SIZE) {
    @content;
  }
}

@mixin phone {
  @media screen and (min-width: $SCREEN_SMALL_SIZE) and (max-width: $SCREEN_PHONE_SIZE) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: $SCREEN_SMALL_SIZE) {
    @content;
  }
}