:root {
    --dungeon-kit-primary-green: #408C50;
    --dungeon-kit-second-green: #24582F;
    --dungeon-kit-third-green: #64CD75;

    --dungeon-kit-primary-white: #EFEFEF;
    --dungeon-kit-second-white: #D9D9D9;
    --dungeon-kit-border-white: #aaaaaa3f;

    --dungeon-kit-black: #303030;
    --dungeon-kit-white: #FFFFFF;
    --dungeon-kit-gray: #717171;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'MinecraftTenVGORe', sans-serif;
    background-color: var(--dungeon-kit-white);
    color: var(--dungeon-kit-black);
}

a {
    text-decoration: none;
}